<footer class="footer">
    <div class="containerfooter">
       <div class="photo1"><img src="img/logonormandiewebschool.png" alt="wallpaper NWS" /></div>
       <div class="contact">
            <ul >
                <li><h3 style= color:#00a5a5>Nous contacter</h3></li>
                <li style= color:grey>02 79 02 73 78</li>
                <li style= color:grey>contact@normandiewebschool.fr</li>
                <li style= color:grey><strong>Seine Innopolis</strong></li>
                <li style= color:grey>72 rue de la République</li>
                <li style= color:grey>76140 Le Petit-Quevilly</li>
                
            </ul>
       </div>
       <div class="photo2"><img src="img/photoschool.png" alt="wallpaper NWS" /></div>
    </div>
    <div class="footerline"></div>
    <div class="copyright">© 2019 NORMANDIE WEB SCHOOL</di>
</footer>